

.main-header {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #2A3A3F;
}

.main-header-text {
  color: #FFF;
  font-size: 75px;
  padding-top: 35vh;
  font-family: 'Roboto Mono', monospace;
}

.main-header-secondary-text {
  color: #FFF;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 30px;
}

/*SKILLS*/

.skill-area-bg {
  height: 500px;
}

.skill-box {
  background-color: grey;
  height: 300px;
  border-radius: 5px;
  margin-top: 50px;
}

.skill-title {
  color: #000;
  text-align: center;
}

.skill-image {
  height: 100px;
  width: 100px;
}



/*//TESTING*/
